header
	.logo
		img(class="logo--imagen" src=require("../../assets/images/logoGopass.png").default, alt="gopass")
	.burguer__icon
		span(class="fa fa-bars fa-3x")
	.whatsapp__icon
		span(class="fab fa-whatsapp fa-3x")