-
	const menu = {
		nosotros: './nosotros/',
		noticias: './nosotros/',
		servicios: './nosotros/',
		"pregunta frecuentes": './nosotros/',
		"Adquiere tu tag": './nosotros/',
	}

-
	const nosotros = {
		"多que es gopass?": './nosotros/',
		"多como funciona?": './nosotros/',
		"escoge tu membresia": './nosotros/',
		"多como instalarlo/?": './nosotros/',
		"多donde encontrarnos?": './nosotros/',
		"descarga tu app": './nosotros/',
	}

-
	const servicios = {
		gasolina: './servicios/gasolina.html',
		peajes: './servicios/peajes.html',
		parqueaderos: './servicios/parqueaderos.html',
		soat: './servicios/soat.html',
		lavafante: './servicios/lavafante.html',
		parking: '#',
		automac: '#'
	}
