<!DOCTYPE html>
html(lang="en")
	include ./utils/_variables.pug
	include ./utils/_mixins.pug
	include ./layout/_head.pug
	body
		//- include ./layout/_header.pug
		//- include ./components/_navbar.pug
		block contenido
		include ./layout/_footer.pug