extends ./views/_plantilla.pug
block contenido

	section(class="apps")
		p descarga tu app y empieza a disfrutar de la mejor experiencia en movilidad.
		.apps__store
			a(href="")
				img(src="", alt="app store")
			a(href="http://") 
				img(src="", alt="google play")
		p Después de descargar tu App GoPass puedes solicitar tu Tag Aquí.
		.apps__tag 
			img(src="", alt="adquiere tu tag")