extends ./views/_plantilla.pug
block contenido
	section(class="gasolina")
		.definicion
			.definicon__texto
				p 
					| Llena el tanque de combustible de tu vehículo en las estaciones de servicio aliadas y paga por 
					| medio de nuestro tag desde la APP en tu teléfono. Cuando estes en la estación dile 
					| al funcionario de la estación de servicio que GoPass es tu medio de pago, indica el valor que quieres
					| poner de gasolina en tu carro y por medio de la App confirma la transacción, esta se debitará automáticamente 
					| de la cuenta asociada. Ahorra tiempo en la comodidad de tu carro, el resto lo hace GoPass.
			.definicion__imagen
				img(src="", alt="Imagen gasolina Gopass")
	section(class="multimedia")
		.multimedia__texto
			p la nueva forma de pagar la gasolina de tu vehículo con GoPass
		.multimedia__video
			img(src="", alt="AQui va un video de youtube")
		.multimedia__imagen
			img(src="", alt="aqui va una imagen")

	section(class="aliados")
		p nuestro aliado
		.aliados__logo
			img(src="", alt="aqii va un logo")
		.aliados__info
			p eds habilitadas
			p
				span 1.
				| Autopista Norte con CAlle 245, Bogota
			p EDS TERPEL MOTOMART
		
