extends ./views/_plantilla.pug
block contenido

	section(class="")
		p ¿qué es gopass?
		p 
			| Somos un ecosistema de servicios diseñados especialmente para brindar la mejor experiencia 
			| de movilidad, con el sistema integrado RFID, la solución más segura a nivel transaccional. 
			| Con GoPass ahora será más fácil pagar el parqueadero de centros comerciales, 
			| ya no será necesario el molesto papelito o la tarjeta reciclada que tenías que guardar 
			| para pagar y salir, ahora con tu tag GoPass entras y sales por las entradas exclusivas 
			| sin ningún problema, paga los peajes, paga el combustible de tu vehículo y actualiza tu SOAT.
		span !Todo con un solo TAG!

	section(class="")
		img(src="", alt="")
		img(src="", alt="")
		p ¿cómo funciona?
		p 
			| Por medio de un tag electrónico que estará ubicado en el parabrisas de tu carro el cual deberás
			| activar por medio de la App en tú teléfono, podrás empezar a disfrutar del ecosistema de GoPass.
			| Paga los peajes, el combustible de tu vehículo, los parqueaderos en los centros comerciales y
			| renovar tu SOAT, todo con un soló toque a tu teléfono.
		img(src="", alt="ADquiere tu tag")

	section
		P ¿cómo instalar tu tag?
		div
			div
				div
					img(src="", alt="")
				div
				p Descarga la APP GOPASS en tu teléfono y completa todos los datos de inscripción y medio de pago.
			div
				div
					img(src="", alt="")
				div
				p Limpia la superficie del parabrisas y después ubica el TAG a un costado del espejo retrovisor.
			div
				div
					img(src="", alt="")
				div
				p Por último registra el TAG con el código QR a través de tu teléfono. Después de 24 horas quedará activo tu TAG.
		div
			p  
				| *Los costos del ecosistema completo de GoPass tienen un valor de $9.000+IVA al mes. Si quieres usar
				| GoPass solo para pagar peajes, no habrá costo de membresía, el Tag GoPass tiene un precio de 	
				| $20.000+IVA. Hacer parte de la comunidad GoPass no solo te brindará la comodidad de los pagos 	
				| automáticos sino que tambien accederás a promociones y descuentos exclusivos que GoPass tiene preparados para 	
				| ti.

	section
		div
			img(src="", alt="")
		div
			img(src="", alt="")
			img(src="", alt="")
			img(src="", alt="")
			img(src="", alt="")

	section
		p ¿dónde encontrarnos?
		div
			div
				img(src="", alt="Aqui va el mapa de GoPass")
			div
				img(src="", alt="")
				img(src="", alt="")
				img(src="", alt="")
		div
			a(href="") terminos y condiciones