extends ./views/_plantilla.pug
block contenido

	section(class="")
		p 
			| Paga los parqueaderos de los centros comerciales tan solo pasando por 
			| las entradas exclusivas de GoPass y LISTO!
		p 
			| Podrás consultar en tiempo real desde tu teléfono el consumo de parqueadero que llevas 
			| durante tu visita al centro comercial, en el momento que sales del centro comercial te llegará una 
			| notificación indicándote el valor total del parqueadero. Así, no tendrás que guardar los molestos 
			| papelitos para pagar a la salida.

	section(class="")
		p la nueva forma de parquear con gopass
		div
			img(src="", alt="aqui va un video de parquedeeros")
		div
			img(src="", alt="aqui va una imagen parqueadero")
	
	section(class=("aliados"))
		p nuestros aliado
		div
			img(src="", alt="imagen santafe")
		div
			img(src="", alt="imagen unicetro")
		div
			img(src="", alt="imagen fontanar")
		p tarifas de parqueaderos