extends ./views/_plantilla.pug
block contenido
	section(class="soat")
		p Compra y actualiza el SOAT de tu vehículo tan sólo con un toque.
		p Recibe notificaciones recordándote la fecha de vencimiento de tu SOAT y el valor del mismo.
	